body {
  color: #000;
  margin: 0;
  text-align: center;
  font-family: 'Spectral', serif;
}

hr {
  border: 2px solid rgb(212, 212, 212);
  border-bottom: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color:rgb(212, 212, 212);
}

img {
  box-shadow: 10px 10px 5px rgb(212, 212, 212);
  border: 2px solid #fff;
}

.navbar-brand {
  margin-left: 10px;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.work-img {
  width: 600px;
  border-radius: 25px;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.form-control {
  width: 50%;
  margin: 10px auto;
}

.form-group:focus, .form-control:focus {
  box-shadow: none;
  border: 2px solid rgb(212, 212, 212);
}

.message {
  height: 200px;
}

@media only screen and (max-width: 1020px) {
  /* For medium screens: */

  .container {
    width: 70%;
    margin: 0 auto;
  }

  .work-img {
    width: 500px;
  }

}

@media only screen and (max-width: 768px) {
  /* For small screens: */

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .work-img {
    width: 400px;
  }

}