body {
  color: #000;
  margin: 0;
  text-align: center;
  font-family: 'Spectral', serif;
}

nav {
  text-align: left;
}

hr {
  border: solid #1a3a1e 1px;
  border-bottom: none;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.work-img {
  width: 600px;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@media only screen and (max-width: 1020px) {
  /* For medium screens: */

  .container {
    width: 70%;
    margin: 0 auto;
  }

  .work-img {
    width: 500px;
  }

}

@media only screen and (max-width: 768px) {
  /* For small screens: */

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .work-img {
    width: 400px;
  }

}