@import "../../global.scss";

.projects {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    position: relative;
    transition: all 0.7s ease;

    h1 {
        font-size: 50px;
        margin-top: 30px;
        margin-bottom: 50px;
        z-index: 1;
        font-weight: 300;
        

        @include mobile {
          font-size: 40px;
          overflow-x: visible;
        };
    }

    h2 {
      font-weight: 300;
    }

    .container {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        z-index: 1;
        margin-bottom: 100px;

        @include mobile {
          width: 90%;
          margin-bottom: 50px;
          margin-top: 100px;
        }

        .item {
            width: 85%;
            border-radius: 10px;
            margin: 30px 25px;
            display: flex;
            align-items: center;
            justify-content: column;
            position: relative;
            transition: all 0.3s ease;
            box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.5);
        }

        h2 {
          font-size: 35px;
          margin-bottom: 10px;
        }

        p {
          font-size: 20px;
          font-weight: 300;
          margin-bottom: 40px;
          text-align: center;
        }

        video:focus {
          outline: none;
          border: none;
        }

        .which-bin video {
          margin-top: 50px;
        }
    }
}