@import "../../global.scss";

.education {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;

    h1 {
        position: absolute;
        font-size: 50px;
        top: 50px;
        color: white;

        @include mobile {
          font-size: 40px;
        }
    }

    .green-squiggle {
      display: flex;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
    }

    .arrow {
        height: 70px;
        position: absolute;
        z-index: 0;
        cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆🏿</text></svg>") 16 0,auto; /*!emojicursor.app*/
    
        &.left {
            left: 100px;
            animation: arrowBlink 1.5s infinite;

            @include mobile {
              left: 10px;
            }
        }

        &.left:hover {
            animation: none;
        }

        &.right {
            right: 100px;
            animation: arrowBlink 1.5s infinite;

            @include mobile {
              right: 10px;
            }
        }

        &.right:hover {
            animation: none;
        }

        @keyframes arrowBlink {
            50% {
                opacity: 20%;
            }
        }
    }

    .slider {
        height: 450px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 0.7s ease-out;

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                width: 700px;
                height: 90%;
                background-color: #fff;
                border: 3px solid rgb(58, 184, 226);
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
                z-index: 1;

                @include mobile {
                  width: 65%;
                  height: 80%
                }
            }

            .left {
                flex: 5;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile {
                  flex: 0;
                }

                img {
                    width: 270px;
                }
            }

            .right {
                flex: 7;
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                @include mobile {
                  flex: 1;
                }

                h3 {
                    font-weight: 400;
                    margin-bottom: 20px;
                }

                p {
                    width: 80%;
                    font-weight: 300;
                    font-size: 18px;
                }
            }
        }
    }
}