@import "../../global.scss";


.education {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    height: calc(100vh - 75px);
    transition: all 0.7s ease;

    h1 {
        position: absolute;
        font-size: 50px;
        font-weight: 300;
        top: 80px;
        color: black;

        @include mobile {
          font-size: 40px;
        }
    }

    .arrow {
        font-size: 60px;
        color: lightblue;
        margin-top: 100px;
        position: absolute;
        z-index: 0;
        cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆🏿</text></svg>") 16 0,auto; /*!emojicursor.app*/

        @include mobile {
          margin-top: calc(85vh);
        }

        &.left {
            left: 100px;
            animation: arrowBlink 1.5s infinite;

            @include mobile {
              left: 80px;
            }

            @include ipad {
              left: 10px;
            }
        }

        &.right {
            right: 100px;
            animation: arrowBlink 1.5s infinite;

            @include mobile {
              right: 80px;
            }

            @include ipad {
              right: 10px;
            }
        }

        @keyframes arrowBlink {
            50% {
                opacity: 0%;
            }
        }
    }

    .slider {
        height: 70%;
        margin-top: 10%;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 0.7s ease-out;

        @include mobile {
          height: 80%;
        }

        .container {
            width: 100vw;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                width: 50%;
                height: 90%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                box-shadow: 0 0 25px 1px rgba(173, 173, 173, 0.5);
                z-index: 1;

                @include mobile {
                  width: 90%;
                  height: 75%;
                  margin-top: 50px;
                }

                @include ipad {
                  width: 75%;
                  height: 90%;
                  margin-top: 20px;
                }
            }

            .top {
                flex: 3;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 270px;

                    @include mobile {
                      width: 200px;
                    }
                }
            }

            .bottom {
                flex: 9;
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;

                h3 {
                    font-size: 20px;
                    font-weight: 300;
                    height: 50px;
                    text-align: center;
                    padding-left: 5px;
                    padding-right: 5px;

                    @include mobile {
                      height: 70px;
                      margin-top: 0px;
                    }

                    @include ipad {
                      height: 50px;
                      margin-top: 0px;
                    }
                }

                p {
                    width: 90%;
                    font-weight: 300;
                    font-size: 18px;
                    text-align: center;
                }

                p::-webkit-scrollbar {
                  display: none;
                }
            }
        }
    }
}