.education {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    h1 {
        position: absolute;
        font-size: 50px;
        top: 50px;
        color: white;
    }

    .arrow {
        height: 50px;
        position: absolute;
        animation: arrowBlink 1.5s infinite;
        cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆🏿</text></svg>") 16 0,auto; /*!emojicursor.app*/

        &.left {
            left: 100px;
        }

        &.right {
            right: 100px;
        }

        @keyframes arrowBlink {
            50% {
                opacity: 0;
            }
        }
    }

    .slider {
        height: 400px;
        display: flex;
        position: absolute;
        left: 0;

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                width: 700px;
                height: 97%;
                background-color: #fff;
                border: 3px solid rgb(58, 184, 226);
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .left {
                flex: 5;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 250px;
                }
            }

            .right {
                flex: 7;
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                p {
                    width: 80%;
                    font-weight: 300;
                }

                button {
                    border: 2px solid black;
                    background-color: white;
                    font-size: 20px;
                    font-family: "Belgrano", serif;
                    margin-top: 20px;
                }
            }
        }
    }
}