@import "../../global.scss";

.skills {
  background-color: rgb(22, 22, 22);
  color: white;
  height: calc(100vh - 75px);

  h1 {
    font-size: 50px;
    margin-bottom: 50px;
    z-index: 1;
    font-weight: 300;
    text-align: center;
    

    @include mobile {
      font-size: 40px;
      overflow-x: visible;
    }
  }

  .skills-container {
    width: 70%;
    margin: auto;

  }

  img {
    width: 10%;
    height: 10%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
  }

  .white-back {
    background-color: white;
  }
}