@import "../../global.scss";

.skills {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;


  h1 {
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 50px;
    z-index: 1;
    font-weight: 300;
    text-align: center;
    

    @include mobile {
      font-size: 40px;
      overflow-x: visible;
    }
  }

  .skills-container {
    width: 70%;
    margin: auto;
    margin-bottom: 50px;

    @include mobile {
      width: 90%;
    }
  }

  .skill {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 3px solid lightgreen;
    font-weight: 300;
    text-align: center;

    img {
      height: 100px;
      width: 100px;

      @include mobile {
        height: 80px;
        width: 100px;
      }
    }

    p {
      margin-top: 15px;
    }
  }
}