@import "../../global.scss";

.skills {
  background-color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  h1 {
    font-size: 50px;
    margin-bottom: 50px;
    z-index: 1;
    letter-spacing: 10px;
    

    @include mobile {
      font-size: 40px;
      overflow-x: visible;
    }
  }
}