@import "../../global.scss";

.home {
  background-color: lightpink;
  display: flex;

  .left {
    flex: 0.4;
    background-color: lightseagreen;
    overflow: hidden;

    .imgContainer {
      margin-top: 20%;
      border-top-left-radius: 50%;
      border-top-right-radius:  50%;
      height: 100%;
      background-color: lightblue;
      margin-bottom:0;

      img {
        width: 40%;
        bottom: 0px;
        position: absolute;

        @include mobile {
          width: 100%;
          left: 0;
        }

        @include ipad {
          width: 100%;
          left: 0;
        }
      }
    }
  }

  .right {
    flex: 0.6;
    overflow: visible;
    position: relative;

    .wrapper {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      position: relative;

      @include mobile {
        width: 100vw;
      }

      @include ipad {
        width: 100vw;
      }

      .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mobile {
          align-items: center;
          top: 100px;
          right: 0px;
          position: absolute;
          text-align: center;
          width: 100vw;
        }

        @include ipad {
          position: absolute;
          top: 100px;
        }
      }

      h1 {
        font-size: 60px;
        font-weight: 500;

        @include mobile {
          font-size: 40px;
        }
      }

      h2 {
        font-size: 35px;
        font-weight: 300;

        @include mobile {
          font-size: 25px;
        }
      }

      h3 {
        font-size: 30px;
        font-weight: 300;
        line-height: 65px;

        @include mobile {
          font-size: 20px;
          line-height: 30px;
        }

        .dev {
          cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👩🏼‍💻</text></svg>") 16 0,auto; /*!emojicursor.app*/

          pre {
            display: inline;
          }
        }

        .dev:hover { 
          opacity: 60%;
        }
      }

      a {
        bottom: 40px;
        left: 47%;
        position: absolute;

        @include mobile {
          bottom: 20px;
          left: 43%;
        }

        img {
          width: 70px;
          animation: arrowBlink 1.5s infinite;
          cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆🏻</text></svg>") 16 0,auto; /*!emojicursor.app*/
        }

        img:hover {
          animation: none;
        }

        @keyframes arrowBlink {
          50% {
              opacity: 20%;
          }
        }
      }
    }
  }
}