@import "../../global.scss";

.home {
  display: flex;
  height: calc(100vh - 75px);

  @include ipad {
    flex-direction: column;
  }
  @include mobile {
    flex-direction: column;
    min-height: -webkit-fill-available;
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    position: relative;
    animation: fadeIn 2s;
    z-index: 1;

    @include ipad {
      flex: 0.7;
    }
    @include mobile {
      flex: 0.7;
    }

    .imgContainer {
      position: absolute;
      width: 70%;
      height: 543px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 60px;
      overflow: hidden;
      border-radius: 10px;
      background-image: linear-gradient($mainColor, lightblue);

      @include ipad {
        height: 80%;
      }
      @include mobile {
        height: 80%;
        top: 30px;
      }

      img {
        position: absolute;
        width: 100%;
        bottom: 0;
      }

      
    }
    .triangle-left {
      position: absolute;
      top: 20px;
      left: 5px;
      width: 220px;
      height: 250px;
      background-image: linear-gradient(lightblue, lightpink);
      clip-path: polygon(76% 0, 0 100%, 100% 75%);

      @include mobile {
        width: 50%;
        height: 50%;
        clip-path: polygon(80% 30%, 0 0, 10% 100%);
      }
    }
  }

  .right {
    flex: 0.5;
    overflow: visible;
    position: relative;
    animation: fadeIn 2s;
    z-index: 1;

    @include ipad {
      flex: 0.3;
    }
    @include mobile {
      flex: 0.3;
    }

    .wrapper {
      height: 100%;
      width: 100%;
      right: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: lightblue;
      position: relative;

      @include ipad {
        right: 0px;
      }
      @include mobile {
        right: 0px;
      }

      .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;

        @include ipad {
          margin-top: -11%;
          height: 70%;
          width: 90%;
        }
        @include mobile {
          margin-top: -18%;
          height: 80%;
          width: 100%;
        }
      }

      .rachel {
        width: 90%;
        animation: moveUp 3s;
      }

      h2 {
        font-size: 35px;
        font-weight: 300;
        letter-spacing: 3px;

        @include ipad {
          font-weight: 400;
          font-size: 45px;
        }
        @include mobile {
          font-weight: 400;
          font-size: 30px;
        }
      }

      h3 {
        font-size: 30px;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 3px;

        @include ipad {
          font-weight: 400;
          font-size: 40px;
          line-height: 60px;
        }
        @include mobile {
          font-weight: 400;
          font-size: 20px;
          letter-spacing: 2px;
          line-height: 30px;
        }

        .dev {
          cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👩🏼‍💻</text></svg>") 16 0,auto; /*!emojicursor.app*/

          pre {
            display: inline;
          }
        }

        .dev:hover { 
          opacity: 60%;
        }
      }

      a {
        bottom: 100px;
        left: 50%;
        transform: translateX(-35px);
        position: absolute;

        @include ipad {
          visibility: hidden;
        }
        @include mobile {
          visibility: hidden;
        }

        img {
          width: 70px;
          animation: arrowBlink 1.5s infinite;
          cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆🏻</text></svg>") 16 0,auto; /*!emojicursor.app*/
        }

        img:hover {
          animation: none;
        }

        @keyframes arrowBlink {
          50% {
              opacity: 20%;
          }
        }
      }
      .triangle-right {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 33%;
        background-image: linear-gradient(hotpink, rgb(255, 186, 58));
        clip-path: polygon(0 15%, 50% 100%, 100% 0);
        z-index: 0;

        @include ipad {
          visibility: hidden;
        }
        @include mobile {
          visibility: hidden;
        }
      }
    }
  }

  .triangle-bottom {
    @include ipad {
      position: absolute;
      top: 0;
      width: 100%;
      background-image: linear-gradient(hotpink, rgb(255, 186, 58));
      height: calc(100vh - 75px);
      clip-path: polygon(100% 14%, 0 100%, 94% 94%);
      z-index: 0;
      animation: fadeIn 2s;
    }
    @include mobile {
      position: absolute;
      top: 0;
      width: 100%;
      background-image: linear-gradient(hotpink, rgb(255, 186, 58));
      height: calc(100vh - 75px);
      clip-path: polygon(100% 14%, 0 100%, 94% 94%);
      z-index: 0;
      animation: fadeIn 2s;
    }
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}