@import "../../global.scss";

.home {
  height: calc(100vh - 4rem);
  width: calc(100vw - 4rem);
  background-color: $color-tan;

  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;

    @include mobile {
      align-items: center;
    }

    @include ipad {
      align-items: center;
    }

    h1 {
      font-size: 3rem;

      @include mobile {
        text-align: center;
      }

      @include ipad {
        text-align: center;
      }
    }

    h2 {
      @include mobile {
        text-align: center;
      }

      @include ipad {
        text-align: center;
      }
    }
    
    a {
      text-decoration: none;
      color: $color-brown;
    }

    .small-margin {
      margin-top: 1.5rem;
    }

    .icon {
      padding-right: 1rem;
    }
  }
}