@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: calc(100vh - 75px);

  h1 {
    font-size: 50px;
    color: black;
    top: 10px;
    position: absolute;
    font-weight: 300;

    @include mobile {
      font-size: 40px;
    };
  }

  p {
    font-size: 20px;
    color: black;
    font-weight: 300;
    top: 30px;
    bottom: 20px;
    text-align: center;
    width: 85%;
  }

  form {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    input {
      width: 300px;
      height: 30px;
      font-size: 16px;
      font-weight: 300;
      padding-left: 10px;
      border: 3px solid $mainColor;
      border-radius: 10px;

      @include mobile {
        width: 200px;
      }
    }

    textarea {
      width: 300px;
      height: 200px;
      font-size: 16px;
      font-weight: 300;
      padding-left: 10px;
      border: 3px solid $mainColor;
      border-radius: 10px;

      @include mobile {
        width: 200px;
        height: 120px;
      }
    }

    textarea:focus, input:focus{
      outline: none;
    }

    button {
      width: 150px;
      height: 30px;
      color: black;
      background-color: white;
      border: 3px solid $mainColor;
      border-radius: 10px;
      font-weight: 300;
      font-size: 16px;
      transition: all 0.3s ease;
      cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>📧</text></svg>") 16 0,auto; /*!emojicursor.app*/
    
      &:hover {
        box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
        background-color: rgb(228, 228, 228);
      }
    }
  }

  footer {
    width: 100%;
    height: 40px;
    background-color: lightblue;
    position: absolute;
    bottom: 0;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 300;

    .icons {
      display: none;
    }
    
    @include mobile {
      .icons {
        display: block;
        position: absolute;
        left: 50px;

        a {
          color: inherit;
          text-decoration: none;
          margin: 0 5px;
          cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆🏽</text></svg>") 16 0,auto; /*!emojicursor.app*/
        }
      }

      .copyright {
        position: absolute;
        right: 50px;
      }
    }
  }
}