* {
  margin: 0;
  overflow-x: hidden;
}

.app {

  font-size: 10px;
  font-family: "Inter", sans-serif;

    .sections {
        position: relative;
        scrollbar-width: none; //for firefox
        padding: 2rem;
        display: flex;
        justify-content: center;

        &::-webkit-scrollbar{
            display: none; //other browsers
        }
    }
}