$mainColor: #fadd76;

$mobileWidth: 539px;
$ipadWidth: 1024px;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@mixin mobile {
  @media (max-width:#{$mobileWidth}) {
    @content
  }
}

@mixin ipad {
  @media (min-width: 540px) and (max-width:#{$ipadWidth}) {
    @content
  }
}