$color-tan: rgb(231, 229, 225);
$color-brown: rgb(145, 117, 66);

$width-mobile: 539px;
$width-ipad: 769px;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@mixin mobile {
  @media (max-width:#{$width-mobile}) {
    @content
  }
}

@mixin ipad {
  @media (max-width:#{$width-ipad}) {
    @content
  }
}